* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-select,
.player-container,
.sound-picker {
  height: 80%;
  flex: 1;
}

.time-select {
  background: lightblue;
}

.player-container {
  background: lightgreen;
}

.sound-picker {
  background-color: lightcoral;
}
